In [3]:
import sqlite3
#library in python
sqlite_db = 'houses.sqlite'
conn = sqlite3.connect(sqlite_db)
c = conn.cursor()
#object holds other stuff connection to dbase

In [4]:
c.execute('CREATE TABLE houses (field1 INTEGER PRIMARY KEY, sqft INTEGER, bdrms INTEGER, age INTEGER, price INTEGER);')

In [ ]:
conn.commit()

In [5]:
last_sale = (None, 4000, 5, 22, 619000)
#in the form of a tuple
c.execute('INSERT INTO houses VALUES (?,?,?,?,?)',last_sale)

#have to use ? since inserting an object

In [6]:
conn.commit()

In [7]:
c.execute('SELECT * FROM houses;')

In [8]:
conn.commit()

In [9]:
results = c.execute('SELECT * FROM houses;')
results.fetchall()

[(1, 4000, 5, 22, 619000)]

In [10]:
recent_sales = [
  (None, 2390, 4, 34, 319000),
  (None, 1870, 3, 14, 289000),
  (None, 1505, 3, 90, 269000),
]

c.executemany('INSERT INTO houses VALUES (?, ?, ?, ?, ?)', recent_sales)

conn.commit()

In [11]:
results = c.execute('SELECT * FROM houses;')
results.fetchall()

[(1, 4000, 5, 22, 619000),
 (2, 2390, 4, 34, 319000),
 (3, 1870, 3, 14, 289000),
 (4, 1505, 3, 90, 269000)]

In [14]:
from numpy import genfromtxt
data = (genfromtxt('housing-data.csv', dtype='i8',
                  delimiter=',',skip_header=1)).tolist()

In [15]:
data

[[2104, 3, 70, 399900],
 [1600, 3, 28, 329900],
 [2400, 3, 44, 369000],
 [1416, 2, 49, 232000],
 [3000, 4, 75, 539900],
 [1985, 4, 61, 299900],
 [1534, 3, 12, 314900],
 [1427, 3, 57, 198999],
 [1380, 3, 14, 212000],
 [1494, 3, 15, 242500],
 [1940, 4, 7, 239999],
 [2000, 3, 27, 347000],
 [1890, 3, 45, 329999],
 [4478, 5, 49, 699900],
 [1268, 3, 58, 259900],
 [2300, 4, 77, 449900],
 [1320, 2, 62, 299900],
 [1236, 3, 78, 199900],
 [2609, 4, 5, 499998],
 [3031, 4, 21, 599000],
 [1767, 3, 44, 252900],
 [1888, 2, 79, 255000],
 [1604, 3, 13, 242900],
 [1962, 4, 53, 259900],
 [3890, 3, 36, 573900],
 [1100, 3, 60, 249900],
 [1458, 3, 29, 464500],
 [2526, 3, 13, 469000],
 [2200, 3, 28, 475000],
 [2637, 3, 25, 299900],
 [1839, 2, 40, 349900],
 [1000, 1, 5, 169900],
 [2040, 4, 75, 314900],
 [3137, 3, 67, 579900],
 [1811, 4, 24, 285900],
 [1437, 3, 50, 249900],
 [1239, 3, 22, 229900],
 [2132, 4, 28, 345000],
 [4215, 4, 66, 549000],
 [2162, 4, 43, 287000],
 [1664, 2, 40, 368500],
 [2238, 3, 37, 329900],
 [2567, 4, 57, 314000],
 [1200, 3, 76, 299000],
 [852, 2, 70, 179900],
 [1852, 4, 64, 299900],
 [1203, 3, 11, 239500]]

In [17]:
for d in data:
    d.insert(0,None)
data[0:3]

[[None, 2104, 3, 70, 399900],
 [None, 1600, 3, 28, 329900],
 [None, 2400, 3, 44, 369000]]

In [ ]:
# for d in data:
#     d.pop(0,)
# data[0:3]
# #to delete

In [19]:
#loop through
for d in data:
    c.execute('INSERT INTO houses VALUES(?,?,?,?,?)',d)
    
conn.commit()

In [22]:
results = c.execute('SELECT * FROM houses');
results.fetchall()

[(1, 4000, 5, 22, 619000),
 (2, 2390, 4, 34, 319000),
 (3, 1870, 3, 14, 289000),
 (4, 1505, 3, 90, 269000),
 (5, 2104, 3, 70, 399900),
 (6, 1600, 3, 28, 329900),
 (7, 2400, 3, 44, 369000),
 (8, 1416, 2, 49, 232000),
 (9, 3000, 4, 75, 539900),
 (10, 1985, 4, 61, 299900),
 (11, 1534, 3, 12, 314900),
 (12, 1427, 3, 57, 198999),
 (13, 1380, 3, 14, 212000),
 (14, 1494, 3, 15, 242500),
 (15, 1940, 4, 7, 239999),
 (16, 2000, 3, 27, 347000),
 (17, 1890, 3, 45, 329999),
 (18, 4478, 5, 49, 699900),
 (19, 1268, 3, 58, 259900),
 (20, 2300, 4, 77, 449900),
 (21, 1320, 2, 62, 299900),
 (22, 1236, 3, 78, 199900),
 (23, 2609, 4, 5, 499998),
 (24, 3031, 4, 21, 599000),
 (25, 1767, 3, 44, 252900),
 (26, 1888, 2, 79, 255000),
 (27, 1604, 3, 13, 242900),
 (28, 1962, 4, 53, 259900),
 (29, 3890, 3, 36, 573900),
 (30, 1100, 3, 60, 249900),
 (31, 1458, 3, 29, 464500),
 (32, 2526, 3, 13, 469000),
 (33, 2200, 3, 28, 475000),
 (34, 2637, 3, 25, 299900),
 (35, 1839, 2, 40, 349900),
 (36, 1000, 1, 5, 169900),
 (37, 2040, 4, 75, 314900),
 (38, 3137, 3, 67, 579900),
 (39, 1811, 4, 24, 285900),
 (40, 1437, 3, 50, 249900),
 (41, 1239, 3, 22, 229900),
 (42, 2132, 4, 28, 345000),
 (43, 4215, 4, 66, 549000),
 (44, 2162, 4, 43, 287000),
 (45, 1664, 2, 40, 368500),
 (46, 2238, 3, 37, 329900),
 (47, 2567, 4, 57, 314000),
 (48, 1200, 3, 76, 299000),
 (49, 852, 2, 70, 179900),
 (50, 1852, 4, 64, 299900),
 (51, 1203, 3, 11, 239500),
 (52, 2104, 3, 70, 399900),
 (53, 1600, 3, 28, 329900),
 (54, 2400, 3, 44, 369000),
 (55, 1416, 2, 49, 232000),
 (56, 3000, 4, 75, 539900),
 (57, 1985, 4, 61, 299900),
 (58, 1534, 3, 12, 314900),
 (59, 1427, 3, 57, 198999),
 (60, 1380, 3, 14, 212000),
 (61, 1494, 3, 15, 242500),
 (62, 1940, 4, 7, 239999),
 (63, 2000, 3, 27, 347000),
 (64, 1890, 3, 45, 329999),
 (65, 4478, 5, 49, 699900),
 (66, 1268, 3, 58, 259900),
 (67, 2300, 4, 77, 449900),
 (68, 1320, 2, 62, 299900),
 (69, 1236, 3, 78, 199900),
 (70, 2609, 4, 5, 499998),
 (71, 3031, 4, 21, 599000),
 (72, 1767, 3, 44, 252900),
 (73, 1888, 2, 79, 255000),
 (74, 1604, 3, 13, 242900),
 (75, 1962, 4, 53, 259900),
 (76, 3890, 3, 36, 573900),
 (77, 1100, 3, 60, 249900),
 (78, 1458, 3, 29, 464500),
 (79, 2526, 3, 13, 469000),
 (80, 2200, 3, 28, 475000),
 (81, 2637, 3, 25, 299900),
 (82, 1839, 2, 40, 349900),
 (83, 1000, 1, 5, 169900),
 (84, 2040, 4, 75, 314900),
 (85, 3137, 3, 67, 579900),
 (86, 1811, 4, 24, 285900),
 (87, 1437, 3, 50, 249900),
 (88, 1239, 3, 22, 229900),
 (89, 2132, 4, 28, 345000),
 (90, 4215, 4, 66, 549000),
 (91, 2162, 4, 43, 287000),
 (92, 1664, 2, 40, 368500),
 (93, 2238, 3, 37, 329900),
 (94, 2567, 4, 57, 314000),
 (95, 1200, 3, 76, 299000),
 (96, 852, 2, 70, 179900),
 (97, 1852, 4, 64, 299900),
 (98, 1203, 3, 11, 239500)]

In [23]:
import pandas as pd
from pandas.io import sql

In [25]:
data=pd.read_csv('housing-data.csv')
data.head()

   sqft  bdrms  age   price
0  2104      3   70  399900
1  1600      3   28  329900
2  2400      3   44  369000
3  1416      2   49  232000
4  3000      4   75  539900

In [26]:
conn

In [28]:
data.to_sql('houses_panda_are_cool', 
           con=conn,
           if_exists='replace',
           index=False)

In [32]:
results = c.execute('SELECT * FROM  houses_panda_are_cool;')
results.fetchall()[0:5]

[(2104, 3, 70, 399900),
 (1600, 3, 28, 329900),
 (2400, 3, 44, 369000),
 (1416, 2, 49, 232000),
 (3000, 4, 75, 539900)]

In [36]:
this_data_came_from_sql=sql.read_sql('SELECT * FROM houses_panda_are_cool',
                                     con=conn)

In [37]:
this_data_came_from_sql.head(5)

   sqft  bdrms  age   price
0  2104      3   70  399900
1  1600      3   28  329900
2  2400      3   44  369000
3  1416      2   49  232000
4  3000      4   75  539900

In [39]:
def helper_function(command):
    print sql.read_sql(command, con=conn)

In [40]:
helper_function('SELECT sqft FROM houses')

    sqft
0   4000
1   2390
2   1870
3   1505
4   2104
5   1600
6   2400
7   1416
8   3000
9   1985
10  1534
11  1427
12  1380
13  1494
14  1940
15  2000
16  1890
17  4478
18  1268
19  2300
20  1320
21  1236
22  2609
23  3031
24  1767
25  1888
26  1604
27  1962
28  3890
29  1100
..   ...
68  1236
69  2609
70  3031
71  1767
72  1888
73  1604
74  1962
75  3890
76  1100
77  1458
78  2526
79  2200
80  2637
81  1839
82  1000
83  2040
84  3137
85  1811
86  1437
87  1239
88  2132
89  4215
90  2162
91  1664
92  2238
93  2567
94  1200
95   852
96  1852
97  1203

[98 rows x 1 columns]

In [41]:
helper_function('SELECT * FROM houses')

    field1  sqft  bdrms  age   price
0        1  4000      5   22  619000
1        2  2390      4   34  319000
2        3  1870      3   14  289000
3        4  1505      3   90  269000
4        5  2104      3   70  399900
5        6  1600      3   28  329900
6        7  2400      3   44  369000
7        8  1416      2   49  232000
8        9  3000      4   75  539900
9       10  1985      4   61  299900
10      11  1534      3   12  314900
11      12  1427      3   57  198999
12      13  1380      3   14  212000
13      14  1494      3   15  242500
14      15  1940      4    7  239999
15      16  2000      3   27  347000
16      17  1890      3   45  329999
17      18  4478      5   49  699900
18      19  1268      3   58  259900
19      20  2300      4   77  449900
20      21  1320      2   62  299900
21      22  1236      3   78  199900
22      23  2609      4    5  499998
23      24  3031      4   21  599000
24      25  1767      3   44  252900
25      26  1888      2   79  255000
26      27  1604      3   13  242900
27      28  1962      4   53  259900
28      29  3890      3   36  573900
29      30  1100      3   60  249900
..     ...   ...    ...  ...     ...
68      69  1236      3   78  199900
69      70  2609      4    5  499998
70      71  3031      4   21  599000
71      72  1767      3   44  252900
72      73  1888      2   79  255000
73      74  1604      3   13  242900
74      75  1962      4   53  259900
75      76  3890      3   36  573900
76      77  1100      3   60  249900
77      78  1458      3   29  464500
78      79  2526      3   13  469000
79      80  2200      3   28  475000
80      81  2637      3   25  299900
81      82  1839      2   40  349900
82      83  1000      1    5  169900
83      84  2040      4   75  314900
84      85  3137      3   67  579900
85      86  1811      4   24  285900
86      87  1437      3   50  249900
87      88  1239      3   22  229900
88      89  2132      4   28  345000
89      90  4215      4   66  549000
90      91  2162      4   43  287000
91      92  1664      2   40  368500
92      93  2238      3   37  329900
93      94  2567      4   57  314000
94      95  1200      3   76  299000
95      96   852      2   70  179900
96      97  1852      4   64  299900
97      98  1203      3   11  239500

[98 rows x 5 columns]

In [42]:
helper_function('SELECT sqft FROM houses')

    sqft
0   4000
1   2390
2   1870
3   1505
4   2104
5   1600
6   2400
7   1416
8   3000
9   1985
10  1534
11  1427
12  1380
13  1494
14  1940
15  2000
16  1890
17  4478
18  1268
19  2300
20  1320
21  1236
22  2609
23  3031
24  1767
25  1888
26  1604
27  1962
28  3890
29  1100
..   ...
68  1236
69  2609
70  3031
71  1767
72  1888
73  1604
74  1962
75  3890
76  1100
77  1458
78  2526
79  2200
80  2637
81  1839
82  1000
83  2040
84  3137
85  1811
86  1437
87  1239
88  2132
89  4215
90  2162
91  1664
92  2238
93  2567
94  1200
95   852
96  1852
97  1203

[98 rows x 1 columns]

In [44]:
helper_function('SELECT sqft, age, bdrms FROM houses')

    sqft  age  bdrms
0   4000   22      5
1   2390   34      4
2   1870   14      3
3   1505   90      3
4   2104   70      3
5   1600   28      3
6   2400   44      3
7   1416   49      2
8   3000   75      4
9   1985   61      4
10  1534   12      3
11  1427   57      3
12  1380   14      3
13  1494   15      3
14  1940    7      4
15  2000   27      3
16  1890   45      3
17  4478   49      5
18  1268   58      3
19  2300   77      4
20  1320   62      2
21  1236   78      3
22  2609    5      4
23  3031   21      4
24  1767   44      3
25  1888   79      2
26  1604   13      3
27  1962   53      4
28  3890   36      3
29  1100   60      3
..   ...  ...    ...
68  1236   78      3
69  2609    5      4
70  3031   21      4
71  1767   44      3
72  1888   79      2
73  1604   13      3
74  1962   53      4
75  3890   36      3
76  1100   60      3
77  1458   29      3
78  2526   13      3
79  2200   28      3
80  2637   25      3
81  1839   40      2
82  1000    5      1
83  2040   75      4
84  3137   67      3
85  1811   24      4
86  1437   50      3
87  1239   22      3
88  2132   28      4
89  4215   66      4
90  2162   43      4
91  1664   40      2
92  2238   37      3
93  2567   57      4
94  1200   76      3
95   852   70      2
96  1852   64      4
97  1203   11      3

[98 rows x 3 columns]

In [45]:
helper_function('SELECT * FROM houses LIMIT 10;')

   field1  sqft  bdrms  age   price
0       1  4000      5   22  619000
1       2  2390      4   34  319000
2       3  1870      3   14  289000
3       4  1505      3   90  269000
4       5  2104      3   70  399900
5       6  1600      3   28  329900
6       7  2400      3   44  369000
7       8  1416      2   49  232000
8       9  3000      4   75  539900
9      10  1985      4   61  299900

In [48]:
helper_function('SELECT * FROM houses WHERE bdrms = 4 and price<300000 LIMIT 5;')

   field1  sqft  bdrms  age   price
0      10  1985      4   61  299900
1      15  1940      4    7  239999
2      28  1962      4   53  259900
3      39  1811      4   24  285900
4      44  2162      4   43  287000

In [49]:
helper_function('SELECT COUNT(*) FROM houses')

   COUNT(*)
0        98

In [53]:
helper_function('SELECT AVG(sqft),MIN(price),MAX(price) FROM houses WHERE bdrms=2;')

   AVG(sqft)  MIN(price)  MAX(price)
0     1496.5      179900      368500

In [55]:
helper_function('SELECT AVG(price) FROM houses WHERE bdrms=1;')

   AVG(price)
0    169900.0

In [59]:
helper_function('SELECT AVG(price)/2 FROM houses WHERE bdrms=2;')

    AVG(price)/2
0  140433.333333

In [60]:
helper_function('SELECT AVG(price)/2, AVG(price) as avg_price FROM houses WHERE bdrms=2;')

    AVG(price)/2      avg_price
0  140433.333333  280866.666667

In [61]:
helper_function('SELECT bdrms, COUNT(*) from houses GROUP BY bdrms;')

   bdrms  COUNT(*)
0      1         2
1      2        12
2      3        52
3      4        29
4      5         3

In [62]:
helper_function('SELECT * FROM houses WHERE bdrms=3 and age =90;')

   field1  sqft  bdrms  age   price
0       4  1505      3   90  269000

In [66]:
helper_function('SELECT MAX(age) FROM houses')

   MAX(age)
0        90

In [67]:
helper_function('SELECT AVG(age) FROM houses GROUP BY bdrms;')

    AVG(age)
0   5.000000
1  56.666667
2  38.884615
3  46.413793
4  40.000000

In [12]:
from numpy import genfromtxt

# import into nparray of ints, then convert to list of lists
data = (genfromtxt('datasets/housing-data.csv', dtype='i8',
                    delimiter=',', skip_header=1)).tolist()

# append a None value to beginning of each sub-list
for d in data:
    d.insert(0, None)

IOError: datasets/housing-data.csv not found.

In [ ]:
data[0:3]