**Section I: Import the Data**

Imports and Read in File

In [1]:
%matplotlib inline 

import pandas as pd
import numpy as np
from sklearn import cluster
from sklearn import metrics
from sklearn.metrics import pairwise_distances
import matplotlib.pyplot as plt
import matplotlib
matplotlib.style.use('ggplot')

In [2]:
adult = pd.read_csv("../../assets/datasets/adult.csv")

In [18]:
adult.tail(25)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
48817,23,Private,93977,HS-grad,9,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,NaN
48818,73,Self-emp-inc,159691,Some-college,10,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States,NaN
48819,35,Private,176967,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,NaN
48820,66,Private,344436,HS-grad,9,Widowed,Sales,Other-relative,White,Female,0,0,8,United-States,NaN
48821,27,Private,430340,Some-college,10,Never-married,Sales,Not-in-family,White,Female,0,0,45,United-States,NaN
48822,40,Private,202168,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,55,United-States,NaN
48823,51,Private,82720,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,NaN
48824,22,Private,269623,Some-college,10,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,NaN
48825,64,Self-emp-not-inc,136405,HS-grad,9,Widowed,Farming-fishing,Not-in-family,White,Male,0,0,32,United-States,NaN
48826,50,Local-gov,139347,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,NaN,NaN
48827,55,Private,224655,HS-grad,9,Separated,Priv-house-serv,Not-in-family,White,Female,0,0,32,United-States,NaN
48828,38,Private,247547,Assoc-voc,11,Never-married,Adm-clerical,Unmarried,Black,Female,0,0,40,United-States,NaN
48829,58,Private,292710,Assoc-acdm,12,Divorced,Prof-specialty,Not-in-family,White,Male,0,0,36,United-States,NaN
48830,32,Private,173449,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,NaN
48831,48,Private,285570,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,NaN
48832,61,Private,89686,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,48,United-States,NaN
48833,31,Private,440129,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,NaN
48834,25,Private,350977,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,40,United-States,NaN
48835,48,Local-gov,349230,Masters,14,Divorced,Other-service,Not-in-family,White,Male,0,0,40,United-States,NaN
48836,33,Private,245211,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,NaN
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,NaN
48838,64,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States,NaN
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,NaN
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,NaN
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,NaN

In [21]:
adult[adult["education"] == "Preschool"].squeeze()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
224,53,Local-gov,140359,Preschool,1,Never-married,Machine-op-inspct,Not-in-family,White,Female,0,0,35,United-States,small
932,51,Local-gov,241843,Preschool,1,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,United-States,small
2884,71,Private,235079,Preschool,1,Widowed,Craft-repair,Unmarried,Black,Male,0,0,10,United-States,small
2946,31,Private,452405,Preschool,1,Never-married,Other-service,Other-relative,White,Female,0,0,35,Mexico,small
3446,33,Private,239781,Preschool,1,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,Mexico,small
3592,39,NaN,362685,Preschool,1,Widowed,NaN,Not-in-family,White,Female,0,0,20,El-Salvador,small
4107,52,Private,416129,Preschool,1,Married-civ-spouse,Other-service,Not-in-family,White,Male,0,0,40,El-Salvador,small
6433,27,Private,211032,Preschool,1,Married-civ-spouse,Farming-fishing,Other-relative,White,Male,41310,0,24,Mexico,small
6864,54,Private,286989,Preschool,1,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,60,United-States,small
7070,30,Private,193598,Preschool,1,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,40,Mexico,small
7173,64,NaN,140237,Preschool,1,Married-civ-spouse,NaN,Husband,White,Male,0,0,40,United-States,small
7894,26,Private,322614,Preschool,1,Married-spouse-absent,Machine-op-inspct,Not-in-family,White,Male,0,1719,40,Mexico,small
8080,21,Private,243368,Preschool,1,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,50,Mexico,small
8088,54,NaN,148657,Preschool,1,Married-civ-spouse,NaN,Wife,White,Female,0,0,40,Mexico,small
8096,52,NaN,248113,Preschool,1,Married-spouse-absent,NaN,Other-relative,White,Male,0,0,40,Mexico,small
8775,20,Private,277700,Preschool,1,Never-married,Other-service,Own-child,White,Male,0,0,32,United-States,small
10310,59,Private,157305,Preschool,1,Never-married,Machine-op-inspct,Not-in-family,White,Male,0,0,40,Dominican-Republic,small
11134,32,Private,112137,Preschool,1,Married-civ-spouse,Machine-op-inspct,Wife,Asian-Pac-Islander,Female,4508,0,40,Cambodia,small
11360,53,Private,188644,Preschool,1,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,Mexico,small
11734,65,NaN,293385,Preschool,1,Married-civ-spouse,NaN,Husband,Black,Male,0,0,30,United-States,small
13248,68,Private,168794,Preschool,1,Never-married,Machine-op-inspct,Not-in-family,White,Male,0,0,10,United-States,small
15059,21,Private,243368,Preschool,1,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,50,Mexico,small
16497,75,Private,71898,Preschool,1,Never-married,Priv-house-serv,Not-in-family,Asian-Pac-Islander,Female,0,0,48,Philippines,small
16562,46,Private,225065,Preschool,1,Married-civ-spouse,Machine-op-inspct,Wife,White,Female,0,0,40,Mexico,small
18415,24,Private,243368,Preschool,1,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,36,Mexico,small
20440,63,Private,440607,Preschool,1,Married-civ-spouse,Prof-specialty,Husband,Other,Male,0,0,30,Mexico,small
21370,61,Private,98350,Preschool,1,Married-spouse-absent,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,40,China,small
21388,24,Private,196678,Preschool,1,Never-married,Machine-op-inspct,Own-child,White,Female,0,0,30,United-States,small
21722,49,Private,149809,Preschool,1,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,NaN,small
21794,41,Local-gov,160893,Preschool,1,Never-married,Handlers-cleaners,Own-child,White,Female,0,0,30,United-States,small
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33590,57,NaN,274680,Preschool,1,Separated,NaN,Not-in-family,White,Male,0,0,40,United-States,NaN
33620,31,Private,25610,Preschool,1,Never-married,Handlers-cleaners,Not-in-family,Amer-Indian-Eskimo,Male,0,0,25,United-States,NaN
34050,19,Private,277695,Preschool,1,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,36,Mexico,NaN
34059,37,Self-emp-not-inc,227253,Preschool,1,Married-civ-spouse,Sales,Husband,White,Male,0,0,30,Mexico,NaN
34925,21,NaN,436431,Preschool,1,Married-civ-spouse,NaN,Other-relative,White,Female,0,0,40,Mexico,NaN
35026,24,Private,403107,Preschool,1,Never-married,Adm-clerical,Not-in-family,White,Male,0,0,40,Mexico,NaN
35598,54,NaN,99208,Preschool,1,Married-civ-spouse,NaN,Husband,White,Male,0,0,16,United-States,NaN
36101,29,NaN,565769,Preschool,1,Never-married,NaN,Not-in-family,Black,Male,0,0,40,South,NaN
36987,30,Private,408328,Preschool,1,Married-spouse-absent,Handlers-cleaners,Unmarried,White,Male,0,0,40,Mexico,NaN
37190,28,Private,203784,Preschool,1,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,38,Mexico,NaN
37290,50,Private,176773,Preschool,1,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,Haiti,NaN
38356,22,Private,267412,Preschool,1,Never-married,Other-service,Own-child,Black,Female,594,0,20,Jamaica,NaN
39615,77,Self-emp-not-inc,161552,Preschool,1,Widowed,Exec-managerial,Not-in-family,White,Female,0,0,60,United-States,NaN
39868,60,Self-emp-not-inc,269485,Preschool,1,Divorced,Other-service,Unmarried,White,Female,0,0,40,Mexico,NaN
39999,61,Self-emp-not-inc,243019,Preschool,1,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,NaN
40046,37,Private,216845,Preschool,1,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,40,Mexico,NaN
40297,30,Private,90308,Preschool,1,Never-married,Other-service,Unmarried,White,Male,0,0,28,El-Salvador,NaN
40334,19,Private,277695,Preschool,1,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,50,Mexico,NaN
42865,50,Private,330543,Preschool,1,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,Mexico,NaN
43282,47,Private,98044,Preschool,1,Never-married,Other-service,Not-in-family,White,Male,0,0,25,El-Salvador,NaN
43338,53,Private,308082,Preschool,1,Never-married,Other-service,Not-in-family,White,Female,0,0,15,El-Salvador,NaN
43515,33,Private,295591,Preschool,1,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,40,Mexico,NaN
44017,50,Private,193081,Preschool,1,Never-married,Other-service,Not-in-family,Black,Female,0,0,40,Haiti,NaN
44238,47,Private,235431,Preschool,1,Never-married,Sales,Unmarried,Black,Female,0,0,40,Haiti,NaN
46129,51,Private,186299,Preschool,1,Never-married,Machine-op-inspct,Not-in-family,White,Male,0,0,30,United-States,NaN
46143,43,Self-emp-not-inc,245056,Preschool,1,Married-civ-spouse,Transport-moving,Husband,Black,Male,0,0,40,Haiti,NaN
46714,21,Private,243368,Preschool,1,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,50,Mexico,NaN
48074,35,Private,290498,Preschool,1,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,38,Mexico,NaN
48215,60,NaN,225894,Preschool,1,Widowed,NaN,Not-in-family,White,Female,0,0,40,Guatemala,NaN
48525,61,Private,194804,Preschool,1,Separated,Transport-moving,Not-in-family,Black,Male,14344,0,40,United-States,NaN

**Section II: Format the Data**

Convert the data to a Pandas dataframe to work with the data:

In [14]:
df = adult[['occupation','workclass','education','capital-gain', 'sex']].copy()
df.head()

          occupation         workclass  education  capital-gain     sex
0       Adm-clerical         State-gov  Bachelors          2174    Male
1    Exec-managerial  Self-emp-not-inc  Bachelors             0    Male
2  Handlers-cleaners           Private    HS-grad             0    Male
3  Handlers-cleaners           Private       11th             0    Male
4     Prof-specialty           Private  Bachelors             0  Female

In [15]:
for column in df.columns:
    print column, df(column).isnull().any()

occupation

TypeError: 'DataFrame' object is not callable

In [17]:
df['occupation'].fillna('Missing Occupation',inplace=True)
df['occupation'].value_counts

<bound method Series.value_counts of 0              Adm-clerical
1           Exec-managerial
2         Handlers-cleaners
3         Handlers-cleaners
4            Prof-specialty
5           Exec-managerial
6             Other-service
7           Exec-managerial
8            Prof-specialty
9           Exec-managerial
10          Exec-managerial
11           Prof-specialty
12             Adm-clerical
13                    Sales
14             Craft-repair
15         Transport-moving
16          Farming-fishing
17        Machine-op-inspct
18                    Sales
19          Exec-managerial
20           Prof-specialty
21            Other-service
22          Farming-fishing
23         Transport-moving
24             Tech-support
25             Tech-support
26             Craft-repair
27       Missing Occupation
28          Exec-managerial
29             Craft-repair
                ...
48812    Missing Occupation
48813        Prof-specialty
48814          Tech-support
48815        Prof-specialty
48816       Exec-managerial
48817     Machine-op-inspct
48818       Exec-managerial
48819       Protective-serv
48820                 Sales
48821                 Sales
48822        Prof-specialty
48823          Craft-repair
48824          Craft-repair
48825       Farming-fishing
48826        Prof-specialty
48827       Priv-house-serv
48828          Adm-clerical
48829        Prof-specialty
48830     Handlers-cleaners
48831          Adm-clerical
48832                 Sales
48833          Craft-repair
48834         Other-service
48835         Other-service
48836        Prof-specialty
48837        Prof-specialty
48838    Missing Occupation
48839        Prof-specialty
48840          Adm-clerical
48841       Exec-managerial
Name: occupation, dtype: object>

Convert the categorical Data to numeric for our analysis. **HINT:** Refer to lesson 1.1 for writing a function of this sort

Apply the functions you just wrote and append the results to the dataframe

**Section III: Examine the Data**

Plot the Data to see the distributions our our target markets; plot multiple indicators to see the relationships *IE: Education and Income*

**Section IV: Prepare for Clustering**

Create a New Dataframe with just numerical data for the analysis

Check for NaN and Infinite Numbers - Our data is messy!

In [ ]:
np.any(np.isnan(...))

Convert to the Pandas Array to a Numpy Matrix - Your function will only take numerical inputs

**Section V: Clustering Analysis**

Cluster the Data to our our target groups. **BONUS**: Perform multiple clustering tests on various indicator variables

Get the labels and centroids

In [ ]:
labels = kmeans.labels_
centroids = kmeans.cluster_centers_

Compute the Silhoutte Score to measure your analysis

if you do not like the results then set it up

In [ ]:
#sns.distplot(final_df_loc(final_df['three classes)'))) look at this to see a certain class

to see how many clusters
you could just visualize it from a plotting but if you have lots of columns then the lots of pair plots