In [2]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [3]:
from sqlalchemy import create_engine

In [5]:

engine = create_engine('postgresql://dsi_student:gastudents@dsi.c20gkj5cvu3l.us-east-1.rds.amazonaws.com/titanic')

df = pd.read_sql('SELECT * FROM train', engine)

In [6]:
df.head()

,index,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S

other libraries  google feature selection

In [8]:
from sklearn.feature_selection  import SelectKBest
kbest=SelectKBest(k=5)

picked 5 best make dummy variable for 5
SibSp clase  Sex transform Age good to go Parch  Embarked dumm

In [14]:
pclass_dummies=pd.get_dummies(df["Pclass"])
pclass_dummies = pclass_dummies[[1,2]]
pclass_dummies.columns=['pclase=1','pclass = 2']
pclass_dummies.head()

   pclase=1  pclass = 2
0       0.0         0.0
1       1.0         0.0
2       0.0         0.0
3       1.0         0.0
4       0.0         0.0

In [15]:
male = df["Sex"].apply(lambda x: 1 if x=='male' else 0)
male.head(1)

0    1
Name: Sex, dtype: int64

In [19]:
embarked_dummies=pd.get_dummies(df['Embarked'], prefix='embarked')
embarked_dummies=embarked_dummies[['embarked__C'],['embarked__Q']]
embarked_dummies.head()

TypeError: unhashable type: 'list'

In [ ]:
analytic_df=pclass_dummies.join(male).join(embarked_dummies).join()

In [20]:
analytic_df['Child']=analytic_df['Age'].apply(lambda x:1 if x<12 else 0)

NameError: name 'analytic_df' is not defined

In [ ]:
kbest

scores is how much it predicts

when get parameter names
find how to show columns that best - later use for imput for best models
take 5 columns put into logistic regression
then you get more data - feed new data and look at it and transform it and then spit a new object with